.container-nota {
  display: flex;
  background-color: rgb(238, 238, 238);
  font-family: sans-serif;
  border-radius: 10px;
  padding: 5px;
  padding: 0px 10px;
  position: relative;
  min-height: 150px;
}

.dados-nota {
  padding: 30px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  & h2, p{
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & hp{
    max-height: 50px;
    white-space: nowrap;
  }
}




.container-botoes {
  position: absolute;
  top: 3px;
  right: 5px;
  display: flex;
  width: fit-content;
  padding: 3px;
}

.container-botoes button {
  border: none;
  margin-left: 10px;
}

.container-botoes img {
  height: 28px;
  cursor: pointer;
}

.container-botoes button:hover {
  transform: scale(1.1);
  background: transparent;
}
